body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 22px;
}

/* Common box style */
.email-box,
.description-box {
  border: 1px solid #999;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  outline: none;
  overflow-y: auto;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Different heights */
.email-box {
  height: 50px; /* shorter for email */
}

.description-box {
  height: 350px; /* larger for description */
}

/* Placeholder for empty editable divs */
.email-box:empty:before,
.description-box:empty:before {
  content: attr(data-placeholder);
  color: #b3b3b3;
  font-weight: 600;
}