@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

:root {
  --primary: #4F46E5;
  --accent: #C5BAFF;
  --light: #FBFBFB;
  --dark: #212529;
  --header-height: 80px;
  --sidebar-width: 250px;
}

body {
  display: flex;
  padding-top: var(--header-height);
  background: #cbb8ff;
  color: var(--dark);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #7C3AED;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

header h4 {
  color: #FBFBFB;
}

header a {
  text-decoration: none;
  padding: 10px 25px;
  background-color: #8B5CF6;
  border-radius: 18px;
  color: #FBFBFB;
  font-weight: 700;
  transition: 0.2s;
}

header a:hover {
  background-color: #A78BFA;
}

/*sidebar*/
.sidebar {
    width: var(--sidebar-width);
    background-color: #F8FAFC;
    height: calc(100vh - var(--header-height));
    position: fixed;
    left: 0;
    top: var(--header-height);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color: #4C1D95;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 800;
}

.nav-links a:hover, .nav-links a.active {
    background-color: #7C3AED;
    color: #F8FAFC;
}

.nav-links i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.nav-links .active {
    background-color: #7C3AED;
    color: #F8FAFC;
}

.account-section {
    padding: 15px;
    border-top: 1px solid #8B5CF6;
}

.account-links a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #4C1D95;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 800;
}

.account-links a:hover {
    background-color: #7C3AED;
    color: #F8FAFC;
}

.account-links i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}


.container {
  display: flex;
  gap: 30px;
  margin-left: var(--sidebar-width);
  padding: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% - var(--sidebar-width));
  background-color: #FAF5FF;
}

.todo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  flex: 2;
  max-width: 700px;
}

.task-card {
  background: #DDD6FE;
  border-radius: 15px;
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: none;
  position: relative;
  min-height: 140px;
  max-height: 180px;
}

.task-header {
  display: flex;
  flex-direction: column; /* title + edit stacked */
}

.task-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.edit-btn {
  width: 100%;
  background: #5d3fd3;
  color: white;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #8B5CF6;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-btn i {
  pointer-events: none;
}

.task-date {
  font-size: 0.85rem;
  color: #666;
  font-weight: 600;
}

.task-desc {
  font-size: 0.85rem;
  color: #333;
  margin-top: 4px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.add-task {
  flex: 1;
  background: #DDD6FE;
  padding: 20px;
  border-radius: 15px;
  height: fit-content;
  min-width: 320px;
}

.add-task h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: var(--dark);
}

.add-task label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--dark);
}

.add-task input,
.add-task textarea,
.add-task button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
  border: none;
  outline: none;
  resize: none;
}

.add-task input,
.add-task textarea {
  background: white;
  font-size: 0.95rem;
}

.add-task button {
  background: #5d3fd3;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.add-task button:hover {
  background: #8B5CF6;
  transform: translateY(-2px);
}

.add-task textarea {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  box-sizing: border-box;
}

.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-box {
  background: white;
  padding: 20px 25px;
  border-radius: 15px;
  text-align: center;
  width: 280px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.popup-box p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #333;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

#confirmYes {
  background: #ff4d4d;
  color: white;
}

#confirmYes:hover {
  background: #d63838;
}

#confirmNo {
  background: #ddd;
}

#confirmNo:hover {
  background: #c4c4c4;
}
input.invalid {
  border: 2px solid red;
}

.invalid-msg {
  color: red;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 8px;
}

.no-tasks-box {
  background-color: #FBFBFB ;
  border-radius: 15px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4C1D95;       
  font-size: 1rem;
  font-weight: 700;    
  grid-column: 1 / -1;   
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}



@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    width: 70px;
    overflow: hidden;
  }

  .nav-links span, .account-links span {
    display: none;
  }

  .nav-links a, .account-links a {
    justify-content: center;
    padding: 15px;
  }

  .nav-links i, .account-links i {
    margin-right: 0;
    font-size: 1.2rem;
  }

  .container {
    margin-left: 70px;
    padding: 20px;
    width: calc(100% - 70px);
  }

  .todo-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 100%;
  }

  .add-task {
    min-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .task-card {
    min-height: 120px;
    max-height: none;
  }

  .task-buttons {
    flex-direction: row;
  }

  .edit-btn {
    flex: 1;
    font-size: 0.9rem;
  }
}