@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: "Fredoka", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-border {
  border: 2px solid #C5BAFF;
  border-radius: 10px;
  background-color: #FBFBFB;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  width: 90vw;
  max-width: 700px;
  padding: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease;
}

.form-container {
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #333;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
}


.input-row.single .input-box {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 14px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.error-msg {
  color: red;
  font-size: 13px;
  position: absolute; 
  bottom: -33px;      
  left: 0;
}


.signup-btn {
  background-color: #5d3fd3;
  color: white;
  border: none;
  border-radius: 8px;
  width: 35%;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.signup-btn:hover {
  background-color: #8B5CF6;
  transform: translateY(-2px);
}

.signin-text {
  margin-top: 50px;
  font-size: 14px;
}

.signin-text a {
  color: #5a4fff;
  text-decoration: none;
  font-weight: 500;
}

.signin-text a:hover {
  text-decoration: underline;
}

/* ===== TABLET ===== */
@media (max-width: 1024px) {
  .page-border {
    width: 85vw;
    padding: 35px;
  }
  h3 {
    font-size: 28px;
  }
  .input-row {
    gap: 15px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
    padding: 12px;
  }
  .signup-btn {
    width: 40%;
    padding: 12px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 720px) {
  .page-border {
    width: 95vw;
    padding: 25px;
  }
  .input-row {
    flex-direction: column;
    gap: 12px;
  }
  .signup-btn {
    width: 100%;
    padding: 12px;
  }
  h3 {
    font-size: 24px;
  }
}