@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
  font-family: "Fredoka", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-border {
border: 2px solid #C5BAFF;
border-radius: 10px;
background-color: #FBFBFB;
box-shadow: 0 4px 10px rgba(0,0,0,0.08);
box-sizing: border-box;
width: 97.5vw;
height: 96vh;
padding: 30px;
margin: auto;
overflow-y: auto;
overflow-x: hidden;
display: flex;
justify-content: center;
align-items: flex-start;
transition: all 0.3s ease;
scroll-behavior: smooth;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

h3 {
font-size: 28px;
font-weight: 700;
margin-bottom: 35px;
color: #333;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.input-row.single input {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}

input::placeholder {
  color: #b4b4b4;
  font-weight: 600;
}

.signin-btn {
background-color: #5d3fd3;
color: white;
border: none;
border-radius: 8px;
width: 35%;
padding: 12px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
transition: background 0.3s ease, transform 0.2s ease;
margin-top: 10px;
}

.signin-btn:hover {
  background-color: #8B5CF6;
  transform: translateY(-2px);
}

.signin-text {
  margin-top: 45px;
  font-size: 14px;
  color: #000;
}

.signin-text a {
  color: #5a4fff;
  text-decoration: none;
  font-weight: 500;
}

.signin-text a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .input-row {
    flex-direction: column;
    gap: 10px;
  }

  .form-container {
    width: 90%;
  }

  .signin-btn {
    width: 100%;
  }
}
/* after changin */